* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p {
    color: hsl(229, 7%, 55%);
    font-weight: 400;
    font-size: 80%;
}

strong {
    color: #000;
    font-weight: 700;
    font-size: 110%;
}

body {
    height: 100vh;
    width: 100%;
    background-color: hsl(229, 57%, 11%);
    background-image: url(images/bg-desktop.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%  50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    
    
    /*top: 50%;
    left: 50;
    
    transform: translate(-50%, -50%);*/
}

.card1 {
    padding: 15px;
    background-color: hsl(228, 56%, 26%);
    border-radius: 5px 35px 5px 5px;
    min-width: 200px;
    height: 80px;
}

.card1 img {
    margin-left: 5px;
    
    width: 60%;
    height: auto;
}

.icons {
    display: flex;
    align-items: center;
    
    margin-top: 10px;
}

.icons img {
    margin-left: 9px;
    background-color: hsl(229, 57%, 11%);
    padding: 9px;
    border-radius: 5px;
    width: 30px;
    height: 30px;
}

.card2 {
    color: #fff;
    padding: 5px;
    text-align: center;
    height: 80px;
    background-color: hsl(228, 56%, 26%);
    border-radius: 5px;
    min-width:400px;
    margin-left: 15px;
    margin-top: 10px;
    
    position: relative;
}

.progress{
    padding: 15px;
    position: relative;
    margin-top: 15px;
}

progress[value]{
    -webkit-appearance: none;
    width: 100%;
}

progress[value]::-webkit-progress-bar{
    background-color: hsl(229, 57%, 11%);
    border-radius: 10px;
    height: 80%;

}

progress[value]::-webkit-progress-value{
    background-image: -webkit-linear-gradient(left,hsl(6, 100%, 80%),hsl(335, 100%, 65%));
    border-radius: 10px;
    border: 2px solid hsl(229, 57%, 11%);
}

/* progress[value]::-webkit-progress-value::before{
    content: '80%';
    position: absolute;
    right: 0;
    top: -125%;
} */

.tootlip {
    border-radius: 4px;
    background-color: hsl(243, 100%, 93%);
    padding: 15px;
    position: absolute;
    top: -110%;
    right: 10px;
    font-family: ;
    
}

.notification {
    color: #fff;
    position: absolute;
    top: 10px;
    left: 20px;
    
}

.min {
    color: #fff;
    position: absolute;
    bottom: 0px;
    left: 20px;
}

.max {
    color: #fff;
    position: absolute;
    bottom: 0px;
    right: 20px;
}